<head>
  <title>Test Page: Don't panic</title>
  <link rel="apple-touch-icon" href="/app-touch-icon.png">
  <link href="/favicon.png" rel="icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Chelsea+Market|Open+Sans|Raleway:100">
  <link rel="stylesheet"
        href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/reset.css">
</head>
