<head>
  { % if page.title % }
  <meta property="og:title" content: {{ page.title }} />
  { % else % }
  <meta property="og:title" content: "Test Page | Don't Panic" />
  { % endif % }
  { % if page.description % }
  <meta property="og:description" content: {{ page.description }} />
  { % else % }
  <meta property="og:description" content: "This is a Dangerous Site" />
  { % endif % }
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="/favicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Chelsea+Market|Open+Sans|Raleway:100">
  <link rel="stylesheet"
        href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/reset.css">
</head>
